<div id="comments-list">
    {{#commentDtos}}
    <!-- m-2: margin 50% /comments-id -> commentDtos 안에 있는 id를 꺼냄 -->
  <div class="card m-2 id="comments-{{id}}"">
    <div class="card-header">
      {{nickname}}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button"
        class="btn btn-sm btn-outline-primary"
      >수정</button>
      <button type="button"
        class="btn btn-sm btn-outline-danger comment-delete-btn"
      >삭제</button> ({{id}},{{articleId}})
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </div>
    {{/commentDtos}}
</div>