<div>
  <div class="card">
    {{#commentDtos}}
    <div class="card-header">
      {{nickname}}
      수정버튼
      삭제버튼
    </div>
    <div class="card-body">
      {{body}}
    </div>
    {{/commentDtos}}
  </div>
</div>